---
import "../styles/global.css";
import "../styles/markdown.css";
import Header from "../components/Header.astro";
import { ClientRouter } from "astro:transitions";
import Footer from "../components/Footer.astro";

const { title: pageTitle } = Astro.props;
const title = pageTitle ?? "Contact";
---

<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>{title ? `${title} | Atharva Jadhav` : "Atharva Jadhav"}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="icon" type="image/png" href="/favicon.png" />
        <ClientRouter />
    </head>

    <body>
        <!-- Header -->
        <Header active="contact" />

        <main class="contact-container">
            <h1 class="contact-title">{title}</h1>
            <slot />
        </main>

        <!-- Footer -->
        <Footer />
    </body>
</html>

<style>
    /* PAGE */
    .contact-container {
        max-width: 800px;
        margin: 4rem auto 2rem;
        padding: 0 1.2rem;
    }

    .contact-title {
        font-size: 2.3rem;
        margin: 3rem 0 2rem;
        font-weight: 700;
        color: var(--text-color, #fff);
    }
</style>
